.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
}

.xDiv{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: auto;
   
}
.yDiv{
    border-style: solid;
    border-radius: 1px;
    width: 50px;
    height: 50px;
}
